.chart {
  height: 100vh;
  background-image: linear-gradient(to bottom, white, powderblue);

  .mapDiv {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    display: inline-block;
    .mapChartBig {
      float: left;
      display: inline;
      width: 75%;
      height: 90vh;
      padding-left: 12.5%;
    }

    .mapChartSmall {
      float: left;
      display: inline;
      width: 50%;
      height: 70vh;
    }

    .mapChartPhone {
      float: left;
      display: inline;
      width: 90%;
      height: 70vw;
    }
    .box-card{
      border-radius: 1vmax;
      .el-link{

      }
    }
  }


  .mapChoose {
    margin-left: 1vw;
    margin-top: 1vh;
    color: #eee;
    font-size: 1.6vw;
    .returnCountry{
      vertical-align: top;
      width: 2vmax;
      height: 2vmax;
      border-radius: 2vw;
      text-align: center;
      img{
        width: 2vmax;
        height: 2vmax;
      }
    }
    .el-button{
      padding: 0px;
    }
    .curCity{
      vertical-align: top;
      height: 2.2vmax;
      padding-left: 1vw;
      padding-right: 1vw;
      margin-left: 2vw;
      display: inline-block;
      border-radius: 2vw;
      background-color: #54453B;
    }
    .title {
      padding: 5px;
      border-top: 1px solid rgba(132, 219, 233, 0.8);
      border-bottom: 1px solid rgba(147, 235, 248, 0.8);
      cursor: pointer;
    }

    .icon {
      font-family: 'simsun';
      font-size: 3vw;
      margin: 0 11px;
    }
  }

  .pt-10 {
    padding-top: 10px;
  }

  .el-card__header{
    padding: 0px 20px;
  }

}


#main-box {
  margin-left: 5vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 90vw;
  border-radius: 5vh;
  height: fit-content;

}

#info-box {
  background-color: #ffffff;
  height: 40vh;
  width: 40vw;
  letter-spacing: 0.4vw;
  #gameButton {
    float: right;
    border-radius: 3vh;
    background-color: #65CADA;
    letter-spacing: 1vh;
    padding: 0.5vh 0.5vw;
    font-size: 1.4vw;
    margin-top: 0px;
    height: 2vw;
    color: #ffffff;
    display: inline-block;
    vertical-align: bottom
  }
}
#info-box2{
  background-color: #ffffff;
  height: 30vh;
  width: 99%;
  letter-spacing: 0.4vw;
  #gameButton {
    float: right;
    border-radius: 3vh;
    background-color: #65CADA;
    letter-spacing: 1vmin;
    padding: 0.2vmax 0.5vmax;
    font-size: 1.6vmax;
    margin-top: 0px;
    height: 2.4vmax;
    color: #ffffff;
    display: inline-block;
    vertical-align: bottom
  }
}
#info-box3{
  background-color: #ffffff;
  height: 20vh;
  width: 40vw;
  letter-spacing: 0.4vw;
  margin-top: 5vh;
  .el-card__body{
    padding: 5px;
  }
}

#info-box4{
  background-color: #ffffff;
  height: 30vh;
  width: 99%;
  letter-spacing: 0.4vw;
  margin-top: 5vh;
}

